%btn {
	background-color: transparent;
	border: .15rem solid;
	border-radius: .8rem;
	font-weight: bold;
	box-shadow: 0 0 .25rem .25rem rgba(map.get($colors, "blue-0"), .25);
	transition: all .1s;

	&:hover {
		filter: brightness(1.15);
		box-shadow: 0 0 .5rem .3rem rgba(map.get($colors, "blue-0"), .5);
	}

	&:active {
		filter: brightness(.75);
		box-shadow: 0 0 .5rem .3rem rgba(map.get($colors, "blue-0"), .6);
		border-color: transparent;
	}

	&:focus {
		box-shadow: 0 0 .5rem .3rem rgba(map.get($colors, "blue-0"), .6);
	}
}

.btn-blue {
	@extend %btn;
	background-color: map.get($colors, "blue-3") !important;
	border-color: map.get($colors, "blue-3") !important;
	color: map.get($colors, "gold-0") !important;
}

.btn-gold {
	@extend %btn;
	background-color: map.get($colors, "gold-0") !important;
	border-color: map.get($colors, "gold-0") !important;
	color: map.get($colors, "blue-2") !important;
}

.btn-mixed {
	@extend %btn;
	background-color: map.get($colors, "blue-3") !important;
	border-color: map.get($colors, "gold-0") !important;
	color: map.get($colors, "gold-0") !important;
}

i.btn-icon,
.btn-icon i {
	margin-right: .25rem;
}