/**
 *	Display mode classes
 *	Resulted class names :
 *		.d-[disp-short]
 *	With [disp-short] corresponding to :
 *		none, block, inblock, flex, inflex, inline, grid, table
 *	For property corresponding to :
 *		display: [none/block/inline-block/flex/inline-flex/inline/grid/table]
 */
@each $disp-short, $disp-prop in $displays {
	.d-#{$disp-short} {
		display: #{$disp-prop} !important;
	}
}

/**
*	Position mode classes
*	Resulted class names :
*		.pos-[short-name]
*	With [short-name] corresponding to :
*		static, relative, absolute, fixed, sticky
*	For property corresponding to :
*		position: [static/relative/absolute/fixed/sticky]
*/
@each $pos-short, $pos-prop in $positions {
	.pos-#{$pos-short} {
		position: #{$pos-prop} !important;
	}
}

/**
 *	Relative sizing classes
 *	Resulted class names :
 *		.[axis](-rule)-[portion][unit]
 *	With [axis] corresponding to :
 *		h, w
 *	With [portion] corresponding to :
 *		10, 20, 25, 50, 75, 100
 *	With [unit] corresponding to :
 *		p, vh, vw
 *	With (rule), optionnal, corresponding to :
 *		min, max
 *	For property corresponding to :
 *		(min/max)-[height/width]: [portion][%/vh/vw]
 */
@each $rule in $size-rules {
	@each $axis-name, $axis in $size-axis {
		@each $value in $size-values {
			$percent: '%';

			@if $rule =='none' {
				.#{$axis-name}-#{$value}p {
					#{$axis}: #{$value}#{$percent} !important;
				}
			}

			@else {
				.#{$axis-name}-#{$rule}-#{$value}p {
					#{$rule}-#{$axis}: #{$value}#{$percent} !important;
				}
			}
		}
	}

	@each $value in $size-values {
		@if $rule =='none' {
			.h-#{$value}v {
				height: #{$value}vh !important;
			}
		}

		@else {
			.h-#{$rule}-#{$value}v {
				#{$rule}-height: #{$value}vh !important;
			}
		}
	}

	@each $value in $size-values {
		@if $rule =='none' {
			.w-#{$value}v {
				width: #{$value}vw !important;
			}
		}

		@else {
			.w-#{$rule}-#{$value}v {
				#{$rule}-width: #{$value}vw !important;
			}
		}
	}
}

/**
*	Position offset classes
*	Resulted class names :
*		.[axis]-[portion][unit]
*	With [axis] corresponding to :
*		left, right, top, bottom
*	With [portion] corresponding to :
*		10, 20, 25, 50, 75, 100
*	With [unit] corresponding to :
*		p, vh, vw
*	For property corresponding to :
*		[left/right/top/bottom]: [portion][%/vh/vw]
*/
@each $value in $pos-values {
	@each $axis in $pos-axis {
		@if $value ==0 {
			.#{$axis}-#{$value} {
				#{$axis}: #{$value}
			}
		}

		@else {
			@each $unit-name, $unit-prop in $size-units {
				.#{$axis}-#{$value}#{$unit-name} {
					#{$axis}: #{$value}#{$unit-prop}
				}
			}
		}
	}
}

.hide {
	visibility: hidden !important;
}

.show {
	visibility: visible !important;
}