.fixed-top {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	left: 0 !important;
	z-index: 1030 !important;
}

.has-text-white-ter h1,
.has-text-white-ter h2,
.has-text-white-ter h3,
.has-text-white-ter h4,
.has-text-white-ter h5,
.has-text-white-ter h6,
.has-text-white-ter strong {
	color: #fff !important;
}
