.fixed-top {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	left: 0 !important;
	z-index: 1030 !important;
}

.text-body h1,
.text-body h2,
.text-body h3,
.text-body h4,
.text-body h5,
.text-body h6,
.text-body strong {
	color: #fff !important;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	color: #fff;
}