section {
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding: 3rem;
	box-shadow: 0 0 .25rem .25rem rgba(map.get($colors, "blue-0"), .25);
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: .8rem .8rem 0 0 !important;
	box-shadow: 0 0 .25rem .25rem rgba(map.get($colors, "blue-0"), .25);
}

hr {
	border: 1px solid;
	opacity: 1;
	border-radius: .8rem;
}

a,
button {
	cursor: pointer;
}

html {
	height: 100% !important;
}

html,
body {
	min-height: 100% !important;
	height: 100%;
}

body {
	background-size: 100px 100px;
	background-repeat: repeat;
}

.container {
	box-shadow: 0 0 .25rem .25rem rgba(map.get($colors, "blue-0"), .25);
	padding-left: 2rem;
	padding-right: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100% !important;
	height: auto !important;
}

.img {
	background: transparent no-repeat center;
	background-size: contain;
}

.shad-0 {
	box-shadow: none !important;
}

.shad-1 {
	box-shadow: 0 0 .25rem .25rem rgba(map.get($colors, "blue-0"), .25) !important;
}