@import url('https://fonts.googleapis.com/css2?&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans+Mono:wght@100..900&display=swap');

body {
	font-family: $font-body;
	color: map.get($colors, "gold-1");
}

pre,
code,
kbd,
samp {
	font-family: $font-mono;
}

a {
	color: map.get($colors, "gold-0");
	font-weight: 600;
	transition: all .1s;
	text-decoration: none;

	&:hover {
		filter: brightness(1.15);
	}

	&:active {
		filter: brightness(.75);
	}
}
