/**
 *	TEXTS
 */

$font-body: "Mulish", sans-serif;
$font-mono: "Noto Sans Mono", monospace;

$header-sizes: (
	1: 2.5rem,
	2: 2rem,
	3: 1.75rem,
	4: 1.5rem,
	5: 1.25rem,
	6: 1rem
);

/**
 *	COLORS
 */

$colors: (
	"blue-0": #11181a,
	"blue-1": #1B282B,
	"blue-2": #212F33,
	"blue-3": #27373B,
	"blue-4": #405a61,
	"gold-0": #FFB96C,
	"gold-1": #FDE9D0,
	"black": #000,
	"white": #fff,
	"void": transparent
);

$color-types: (
	"txt": "color",
	"bg": "background-color",
	"bor": "border-color",
	"out": "outline-color",
	"acc": "accent-color"
);

/**
 *	SPACING
 */

$space-types: (
	p: 'padding',
	m: 'margin'
);

$space-sides: (
	'': '',
	'x': 'x',
	'y': 'y',
	'l': 'left',
	'r': 'right',
	't': 'top',
	'b': 'bottom'
);

$space-sizes: (
	0: 0,
	1: .25rem,
	2: .5rem,
	3: 1rem,
	4: 1.5rem,
	5: 2rem,
	6: 3rem,
	auto: auto
);