<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
	<div class="container">
		<a class="navbar-brand align-items-center"
			href="{% if page.layout == 'default' %}#{% else %}{{site.url}}{{site.baseurl}}/{% endif %}">
			<img src="/assets/img/logo-circle.png" alt="Logo" width="50" height="50"
				class="d-inline-block align-text-top">
			JKerboeuf
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-collapsed"
			aria-controls="nav-collapsed" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="nav-collapsed">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link {% if page.layout == 'default' %}active{% endif %}" aria-current="page"
						href="{% if page.layout == 'default' %}#{% else %}{{site.url}}{{site.baseurl}}/{% endif %}">HOME</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{site.url}}{{site.baseurl}}/#about">ABOUT</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{site.url}}{{site.baseurl}}/#contact">CONTACT</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if page.layout == 'feed' %}active{% endif %}"
						href="{{site.url}}{{site.baseurl}}/feed">NEWS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if page.layout == 'projects' %}active{% endif %}"
						href="{{site.url}}{{site.baseurl}}/projects">PROJECTS</a>
				</li>
			</ul>
		</div>
	</div>
</nav>