<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
	<div class="container">
		<a class="navbar-brand align-items-center"
			href="{% if page.layout == 'home' %}#{% else %}{{site.url}}/{{page.lang}}{% endif %}">
			<img src="/assets/img/logo-circle.png" alt="Logo" width="50" height="50"
				class="d-inline-block align-text-top">
			JKerboeuf
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-collapsed"
			aria-controls="nav-collapsed" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="nav-collapsed">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link {% if page.layout == 'home' %}active{% endif %}" aria-current="page"
						href="{% if page.layout == 'home' %}#{% else %}{{site.url}}/{{page.lang}}{% endif %}">
						{{site.data.locales.strings[navlang].home}}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{site.url}}/{{navlang}}/#about">
						{{site.data.locales.strings[navlang].about}}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{site.url}}/{{navlang}}/#contact">
						CONTACT
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if page.layout == 'post-list' %}active{% endif %}"
						href="{{site.url}}/posts/{{navlang}}">
						{{site.data.locales.strings[navlang].posts}}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if page.layout == 'project-list' %}active{% endif %}"
						href="{{site.url}}/projects/{{navlang}}">
						{{site.data.locales.strings[navlang].projects}}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"
						href="{% if page.lang == 'fr' %}{{page.url | replace: '/fr', '/en'}}{% else %}{{page.url | replace: '/en', '/fr'}}{% endif %}">
						{% if page.lang == 'fr' %}
						<span class="fi fi-gb"></span>
						{% else %}
						<span class="fi fi-fr"></span>
						{% endif %}
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>