{% if page.lang %}
	{% assign navlang = page.lang %}
{% else %}
	{% assign navlang = site.locale %}
{% endif %}
<head>
	{% include common/meta.html %}
	<!-- Title -->
	<title>{% if page.title %}{{page.title}} | {% endif %}{{site.title}}</title>
	<link rel="shortcut icon"
		href="{% if site.favicon-url %}{{site.favicon-url}}{% else %}{{ 'assets/img/logo.png' | absolute_url }}{% endif %}"
		type="image/x-icon">
	<!-- External CSS & JS -->
	{% if site.bootstrap-css %}
	<link rel="stylesheet" href="{{site.bootstrap-css}}" crossorigin="anonymous">
	<script src="{{site.bootstrap-js}}" crossorigin="anonymous"></script>
	{% endif %}
	{% if site.jquery %}
	<script src="{{site.jquery}}" crossorigin="anonymous"></script>
	{% endif %}
	{% if site.fontawesome %}
	<script src="{{site.fontawesome}}" crossorigin="anonymous"></script>
	{% endif %}
	{% if site.flagicons %}
	<link rel="stylesheet" href="{{site.flagicons}}" />
	{% endif %}
	<!-- Internal CSS & JS -->
	<link rel="stylesheet" href="/assets/sass/main.css">
</head>