---
layout: compress
---

<!DOCTYPE html>
<html data-bs-theme="dark">
{% include head.html %}

<body>
	{% include navbar.html %}
	<section class="hero is-fullheight text-center bg-dark-subtle">
		<div class="hero-body">
			<div class="container">
				<h1 class="title is-1 text-uppercase fw-bold text-white">
					{{page.title}}
				</h1>
				<h3 class="text-uppercase fw-medium is-marginless text-body">
					{{content}}
				</h3>
				<hr>
				<div class="columns is-marginless is-inline-flex-desktop">
					<a href="{{site.url}}/"
						class="button is-white column rounded-pill is-outlined text-uppercase ">
						{{site.data.strings.locales[navlang].nav_home}}
					</a>
				</div>
			</div>
		</div>
	</section>
	{% include footer.html %}
</body>

{% unless page.lang %}
<script type="text/javascript">
	$(document).ready(function () {
		var userLang = navigator.language || navigator.userLanguage;
		if (userLang.toLowerCase() == "fr" || userLang.toLowerCase().startsWith("fr-") || userLang.toLowerCase().startsWith("fr_")) {
			window.location.href = "{{ site.url }}/404/fr"
		}
		else {
			window.location.href = "{{ site.url }}/404/en"
		}
	});
</script>
{% endunless %}

</html>