---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body class="bg-blue-0">
	{% include navbar.html %}
	<div class="container bg-blue-1">
		<section class="bor-round-2 bg-blue-2">
			<h1 class="txt-gold-0 txt-center fw-bolder">{{page.title}}</h1>
			<hr class="w-75p mx-auto bor-gold-0 bor-round-2">
			<p class="txt-center">{{ content | strip_html }}</p>
			<a href="{{site.url}}/" class="btn-mixed mx-auto">
				{{site.data.strings.locales[navlang].nav_home}}
			</a>
		</section>
		{% include footer.html %}
	</div>
</body>

{% unless page.lang %}
<script type="text/javascript">
	$(document).ready(function () {
		var userLang = navigator.language || navigator.userLanguage;
		if (userLang.toLowerCase() == "fr" || userLang.toLowerCase().startsWith("fr-") || userLang.toLowerCase().startsWith("fr_")) {
			window.location.href = "{{ site.url }}/404/fr"
		}
		else {
			window.location.href = "{{ site.url }}/404/en"
		}
	});
</script>
{% endunless %}

</html>