---
layout: compress
---

<!DOCTYPE html>
<html class="h-100" lang="{{page.lang}}">
{% include common/head.html %}

<body class="bg-blue-0">
	<div class="row h-100 w-100 position-fixed mx-0">
		{% include common/sidebar.html %}
		<div class="col-12 col-xxl-9 px-0"></div>
	</div>
	<div class="row w-100 h-100 mx-0">
		<div class="col-0 col-xxl-3 px-0"></div>
		<div class="col-12 col-xxl-9 px-0 z-1">
			<div class="container bg-blue-1 d-flex flex-column px-5 justify-content-between h-auto ms-auto ms-xxl-0">
				{% include common/navbar-mobile.html %}
				{% include home/about.html %}
				{% include home/latest-proj.html %}
				{% include home/latest-news.html %}
				{% include common/footer.html %}
			</div>
		</div>
	</div>
</body>

<script type="text/javascript" src="/assets/js/bg.js"></script>

{% unless page.lang %}
<script type="text/javascript">
	$(document).ready(function () {
		var userLang = navigator.language || navigator.userLanguage;
		if (userLang.toLowerCase() == "fr" || userLang.toLowerCase().startsWith("fr-") || userLang.toLowerCase().startsWith("fr_")) {
			window.location.href = "{{ site.url }}/fr"
		}
		else {
			window.location.href = "{{ site.url }}/en"
		}
	});
</script>
{% endunless %}

</html>