---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body class="bg-blue-0">
	{% include sidebar.html %}
	<div class="container bg-blue-1">
		{% include home/about.html %}
		{% include home/latest-proj.html %}
		{% include home/latest-news.html %}
		{% include home/contact.html %}
		{% include footer.html %}
	</div>
</body>

{% unless page.lang %}
<script type="text/javascript">
	$(document).ready(function () {
		var userLang = navigator.language || navigator.userLanguage;
		if (userLang.toLowerCase() == "fr" || userLang.toLowerCase().startsWith("fr-") || userLang.toLowerCase().startsWith("fr_")) {
			window.location.href = "{{ site.url }}/fr"
		}
		else {
			window.location.href = "{{ site.url }}/en"
		}
	});
</script>
{% endunless %}

</html>