---
layout: compress
---

<!DOCTYPE html>
<html data-bs-theme="dark">
{% include head.html %}

<body>
	{% include navbar.html %}
	<section class="hero is-fullheight">
		<div class="hero-body">
			<div class="container text-center" id="page-section">
				<div class="section">
					<h1 class="title is-1 text-uppercase fw-bold text-white">
						{{page.title}}
					</h1>
					<div class="content is-marginless text-white">
						{{ content }}
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include footer.html %}
</body>

</html>