---
layout: compress
---

<!DOCTYPE html>
<html data-bs-theme="dark">
{% include head.html %}

<body>
	{% include navbar.html %}
	<section class="hero is-fullheight text-center" id="post">
		<div class="hero-body">
			<div class="container mt-5">
				<a href="{{page.url | relative_url}}" id="title">
					<h1 class="title text-center is-2 fw-semibold text-white">{{page.title}}</h1>
				</a>
				<div class="columns is-variable is-5">
					<div class="column is-6">
						<figure class="image is-16by9">
							<img src="{{page.image}}" alt="{{post.title}}" id="post-image">
						</figure>
					</div>
					<div
						class="subtitle column is-5 has-text-left-desktop has-text-left-fullhd has-text-left-tablet has-text-center-mobile text-body">
						{% unless page.description.size == 0 %}
						<p id="description" class="content is-small fw-medium text-uppercase">
							{{page.description | strip | strip_html | strip_newlines }}</p>
						{% endunless %}
						<p class="subtitle is-6 text-uppercase  text-body">{{site.data.strings.locales[navlang].post_published}}
							<b>{{ page.date | date: "%-B %d, %Y" }}</b>
						</p>
						{% assign tags = page.tags %}
						{% unless tags.size == 0 %}
						<p class="subtitle text-uppercase">
							<i class="fas fa-tags"></i>
							{% assign i = 0 %}
							{% for tags in page.tags %}
							<span class="tag is-link">{{page.tags[i]}}</span>
							{% assign i = i | plus:1 %}
							{% endfor %}
						</p>
						{% endunless -%}
						{% if page.project %}
						<a href="{{page.project}}" class="btn btn-primary">
							<i class="fa-brands fa-github"></i> {{site.data.strings.locales[navlang].post_project}}
						</a>
						{% endif %}
						{% if page.download %}
						<a href="{{page.download}}" class="btn btn-primary" target="_blank">
							<i class="fa-solid fa-download"></i> {{site.data.strings.locales[navlang].proj_download}}
						</a>
						{% endif %}
					</div>
				</div>
				<div
					class="content has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet has-text-left-mobile text-body">
					<p>{{ content }}</p>
				</div>
				{% unless site.disqus-shortname == "" %}
				<div class="disqus-comments" id="disqus_thread"></div>
				{% endunless %}
			</div>
		</div>
	</section>
	{% include footer.html %}
</body>
<!--
<script>
	/**
	 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
	/*
	var disqus_config = function () {
	this.page.url = PAGE_URL;  Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = PAGE_IDENTIFIER; Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	*/
	(function () { /* DON'T EDIT BELOW THIS LINE */
		var d = document,
			s = d.createElement('script');
		s.src = 'https://{{site.disqus-shortname}}.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>
-->
</html>