---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body class="bg-blue-0">
	{% include navbar.html %}
	<div class="container bg-blue-1">
		<section class="bor-round-2 bg-blue-2">
			<h1 class="txt-center txt-gold-0">{{page.title}}</h1>
			<div class="row">
				<div class="img bg-blue-2 col" style="background-image: url('{{ page.image }}')"></div>
				<div class="px-3 py-2 col">
					<p>{{page.description | strip | strip_html | strip_newlines }}</p>
					<p>{{site.data.strings.locales[navlang].post_published}}
						<strong>{{ page.date | date: "%-B %d, %Y" }}</strong>
					</p>
					{% assign tags = page.tags %}
					{% unless tags.size == 0 %}
					<div>
						<i class="fa-solid fa-tags txt-gold"></i>
						{% for tag in tags %}
						<span class="bg-blue-3 bor-round-1 px-2 py-1 m-1 shad-1">{{ tag }}</span>
						{% endfor %}
					</div>
					{% endunless %}
					<div class="mt-4">
						{% if page.download %}
						<a href="{{page.download}}" class="btn-gold btn-icon mr-3" target="_blank">
							<i class="fa-solid fa-download"></i>{{site.data.strings.locales[navlang].proj_download}}
						</a>
						{% endif %}
						{% if page.project %}
						<a href="{{page.project}}" class="btn-gold btn-icon" target="_blank">
							<i class="fa-brands fa-github"></i>{{site.data.strings.locales[navlang].post_project}}
						</a>
						{% endif %}
					</div>
				</div>
			</div>
		</section>
		<section class="bor-round-2 bg-blue-2" id="page-content">
			{{ content }}
		</section>
		{% include footer.html %}
	</div>
</body>

</html>