---
layout: compress
---

<!DOCTYPE html>
<html data-bs-theme="dark">
{% include head.html %}

<body>
	{% include navbar.html %}
	<section class="hero is-fullheight has-text-centered" id="project">
		<div class="hero-body">
			<div class="container mt-5">
				<a href="{{page.url | relative_url}}" id="title">
					<h1 class="title has-text-centered is-2 has-text-weight-semibold has-text-white">{{page.title}}</h1>
				</a>
				<hr class="has-background-black">
				<div class="columns is-variable is-5">
					<div class="column is-6">
						<figure class="image is-16by9 has-shadow">
							<img src="{{page.image}}" alt="{{project.title}}" id="project-image">
						</figure>
					</div>
					<div
						class="subtitle column is-5 has-text-left-desktop has-text-left-fullhd has-text-left-tablet has-text-center-mobile has-text-white-ter">
						{% unless page.description.size == 0 %}
						<p id="description" class="content is-small has-text-weight-medium is-uppercase">
							{{page.description | strip | strip_html | strip_newlines }}</p>
						{% endunless %}
						<p class="subtitle is-6 is-uppercase has-text-weight-normal has-text-white-ter">{{site.data.strings.locales[navlang].post_published}}
							<b>{{ page.date | date: "%-B %d, %Y" }}</b>
						</p>
						{% assign tags = page.tags %}
						{% unless tags.size == 0 %}
						<p class="subtitle is-uppercase">
							<i class="fas fa-tags"></i>
							{% assign i = 0 %}
							{% for tags in page.tags %}
							<span class="tag is-link">{{page.tags[i]}}</span>
							{% assign i = i | plus:1 %}
							{% endfor %}
						</p>
						{% endunless %}
						{% if page.source %}
						<a href="{{page.source}}" class="btn btn-primary" target="_blank">
							<i class="fa-brands fa-github"></i> {{site.data.strings.locales[navlang].proj_source}}
						</a>
						{% endif %}
						{% unless page.download.size == 0 %}
						<a href="{{page.download}}" class="btn btn-primary" target="_blank">
							<i class="fa-solid fa-download"></i> {{site.data.strings.locales[navlang].proj_download}}
						</a>
						{% endunless %}
					</div>
				</div>
				<div
					class="content has-text-justified-desktop has-text-justified-fullhd has-text-justified has-text-justified-tablet has-text-left-mobile has-text-white-ter">
					<p>{{ content }}</p>
				</div>
				{% unless site.disqus-shortname == "" %}
				<div class="disqus-comments" id="disqus_thread"></div>
				{% endunless %}
			</div>
		</div>
	</section>
	{% include footer.html %}
</body>

</html>