<section class="bor-round-2 bg-blue-2 d-flex flex-column my-5 p-4">
	<div class="row">
		<div class="col-2 d-none d-lg-block">
			<img src="{{site.author-image}}" alt="{{site.author-name}}" class="img-fluid shadow rounded-circle">
		</div>
		<div class="col-12 col-lg-10 px-4 my-auto">
			<div class="row">
				<h3>Je suis Julien Kerboeuf,</h3>
				<p>{{site.data.strings.locales[navlang].home_about}}</p>
			</div>
			<hr class="w-75 mx-auto bor-gold-0">
			<div class="d-flex flex-row justify-content-evenly mx-auto">
				<a href="{{site.url}}/about/{{navlang}}" class="btn btn-mixed text-uppercase">
					{{site.data.strings.locales[navlang].nav_about}}
				</a>
				<a href="{{site.url}}/contact/{{navlang}}" class="btn btn-mixed text-uppercase">
					{{site.data.strings.locales[navlang].nav_contact}}
				</a>
				<a href="{{site.url}}/assets/Tableau_de_Synthese.pdf" class="btn btn-mixed text-uppercase">
					Tableau de Synthèse
				</a>
			</div>
		</div>
	</div>
</section>