<section class="hero is-halfheight text-center bg-light" id="about">
	<div class="hero-body">
		<div class="container">
			<div class="columns">
				<div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
					<figure>
						<img class="rounded-pill" src="{{site.author-image}}" alt="{{site.author-name}}">
					</figure>
				</div>
				<div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
					<p class="text-black">{{site.data.strings.locales[navlang].home_about}}</p>
					<br>
					<div class="container columns is-centered">
						<div>
							<a href="{{site.url}}/about/{{navlang}}" class="btn border border-black rounded-pill text-black txt-uc">
								{{site.data.strings.locales[navlang].nav_about}}
							</a>
						</div>
						<div>
							<a href="#contact" class="btn border border-black rounded-pill text-black txt-uc">
								{{site.data.strings.locales[navlang].nav_contact}}
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>