<section class="hero is-halfheight text-center" id="project">
	<div class="hero-body">
		<div class="container text-center">
			<div class="section">
				<p class="subtitle text-uppercase fw-medium text-white">{{site.data.strings.locales[navlang].home_recent_proj}}</p>
			</div>
			<div class="columns is-centered is-multiline is-mobile">
				{% assign projects = site.posts | where:"lang", page.lang | where:"layout", "project" %}
				{% for project in projects offsets:0 limit:5 %}
				{% include project-card.html %}
				{% endfor %}
			</div>
			<div>
				<a href="{{site.url}}/projects/{{navlang}}" class="btn border border-white rounded-pill text-white text-uppercase">
					{{site.data.strings.locales[navlang].nav_projects}}
				</a>
			</div>
		</div>
	</div>
</section>