<section class="hero is-fullheight text-center" id="hero">
	<div class="hero-body">
		<div class="container">
			<h1 class="title text-white is-size-1 text-uppercase fw-bold">
				{{site.title}}
			</h1>
			<p class="subtitle text-body text-uppercase fw-medium is-marginless">
				{{site.data.strings.locales[navlang].home_desc}}
			</p>
			<hr>
			<a href="#about" class="btn border border-white rounded-pill text-body txt-uc">
				{{site.data.strings.locales[navlang].btn_read_more}}
			</a>
		</div>
	</div>
</section>